body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Tourney', cursive;
    font-size: 16px;
}
canvas {
    margin-top: 50px;
}
button {
    height: 30px;
    width: 100px;

    font-family: 'Tourney', cursive;
    font-size: 16px;

    background: white;

    border: 1px solid black;
    border-radius: 3px;
}
.menu>* {
    margin-top: 30px;
    font-size: 23px;
}
form {
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px 10px 4px 10px;

    font-size: 19px;

    cursor: pointer;
}
#top {
    margin-left: 105px;
    margin-bottom: 6px;
}
#middle {
    margin: 0 5px 0 5px;
}
